h1{
    text-align: center;
}

.container{
    display: flex;
}

.cards{

    height: 200px;
    width: 200px;
    margin: 10px;
    border:1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 4px red;
    background-color: lightblue;
    transition: transform 0.5s;
}

.info{
    margin-top:20px;
    text-align: center;
}
.info h2,h3{
    font-size: small;
}
.cards img{
    width:100%;
    border-radius: 10px 10px 0 0;
}

.cards:hover{

    transform: scale(1.05);
    box-shadow: 2px 2px 25px red;
}