.container {
    display: grid;
    grid-template-rows: 60px 60px;
    grid-template-columns: repeat(13, 1fr);
    background-color: skyblue;
    row-gap: 15px;
    margin-top: 300px;
    place-items: center; /* Centers items in grid */
    position: relative;
}

.alpha {
    display: flex;
    height: 50px;
    width: 50px;
    color:white;
    background-color: rgb(28, 26, 26);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 2px 20px black;
    transition: transform 2s ease-out;
    position: relative; /* Keeps it in grid without disrupting flow */
}

.alpha:hover {
    z-index: 10; /* Ensures the hovered item appears on top */
    box-shadow: 2px 2px 12px gold;
    transform: scale(4) translate(0, -50px); /* Moves up and scales */
}

.alpha:not(:hover) {
    transition: transform 1s ease-in;
}
