    <header>
        <nav>
            <div class="logo">Data<span>Registry</span></div>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="#">Features</a>
                <a href="#">Dashboard</a>
                <a href="/users">View Data</a>
            </div>
            <a href="#" class="btn">Sign In</a>
        </nav>
    </header>