<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Values</title>
</head>
<body>
    <h1>Data from Db in template </h1>
    <p>data is passed from res object . render in form of an object</p>

    <div class="data">

        <h2> Name - <%= name %> And Age - <%= age%> </h2>
    </div>

    <div class="random">
        <p>
            <h2>Get a Random number : <%= Math.floor(Math.random()*7) %> </h2>
        </p>
    </div>
    
</body>
</html>