<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A New post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <h1>Create Your Post</h1>

    <form action="/posts" method="post">
        <input type="text" name="username"placeholder="Enter Your Username">
        <br>
        <br>
        <textarea name="content" id="content-box" placeholder="Write Your Post Here.. "></textarea>
        <br>
        <hr>
        <button type="submit">Add Post</button>
        <a href="/posts">Back</a>
    </form>

</body>
</html>