<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Deletion Request
    </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/homestyle.css">
</head>
<body>
    
    <%-include("includes/header.ejs") %>

    <div class="hero">
        <h1>Fill the credential to Delete Your Account</h1>
    
        <form action="/users/<%=userid%>?_method=DELETE" method="post">
            <label for="email">Email: </label>
            <input type="email" name="email" placeholder="email.."  required>
            <br>
            <br>
            <br>
            <label for="password">Password: </label>
            <input type="password" name="password" required>
            <br>
            <br>
            <br>
            <button class="cool-btn">Delete</button>
        </form>

    </div>
    <%-include("includes/footer.ejs") %>
</body>
</html>